/* General Button CSS */

*[data-rocket-component="button"]{
    float: left;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 5px;
}

/* Basic Buttons */

*[data-rocket-component="button"][data-rocket-component-type="basic"]{
    height: 40px;
    min-width: 125px;
    color: #fafafa;
    font-family: 'Dosis', 'Droid Sans', 'Segoe UI', Calibri;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    background-color: #0099ff;
    border: 0px;
}

/* End of Basic Buttons

/* Toggle Button */

div[data-rocket-component="button"][data-rocket-component-type="toggle"]{
    height: 30px;
    width: 75px;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
}

div[data-rocket-component="button"][data-rocket-component-status="true"]{
    background-color: #0099ff !important;
}

div[data-rocket-minor-component="buttonToggle"]{
    float: left;
    height: 30px;
    width: 30px;
    background-color: #333333;
}

div[data-rocket-component-status="true"] > div{
    margin-left: 45px;
}

/* End of Toggle Button */