/* Footer */

@media (max-width: 1024px){ /* If the document width is 1024 pixel, make everything properly scale to the smaller resolutions */
	footer[data-rocket-component="footer"]{ /* Footer Component */
		height: 60px;
		line-height: 60px;
	}

    footer[data-rocket-component="footer"] > pre{ /* Footer Text */
        height: 60px;
        margin: 0 0 0 10px;
    }

    footer[data-rocket-component="footer"] > a{ /* Footer Links */
        margin-left: 10px;
    }
}

@media (min-width: 1260px){ /* If the document width is larger than 1260 (mainly 1280 minus window decoration sizes) */
    footer[data-rocket-component="footer"]{ /* Footer Component */
        height: 80px;
        line-height: 80px;
    }

    footer[data-rocket-component="footer"] > pre{ /* Footer Text */
        height: 80px;
        margin: 0 0 0 15px;
    }

    footer[data-rocket-component="footer"] > a{ /* Footer Links */
        margin-left: 15px;
    }
}

/* General Resolution CSS */
@media screen, handheld, projection, tv{
    footer[data-rocket-component="footer"]{ /* Footer Component */
        float: left;
        width: 100%;
        color: #333333;
        font-family: 'Dosis', 'Droid Sans', 'Ubuntu', Segoe UI, Calibri, sans-serif !important;;
        font-size: 16px;
        background-color: #f3f3f3;
        position: static;
    }

    footer[data-rocket-component="footer"] > pre{ /* Footer Links */
        float: left;
        font-family: 'Dosis', 'Droid Sans', 'Ubuntu', Segoe UI, Calibri;
        white-space: normal;
    }

    footer[data-rocket-component="footer"] > a{ /* Footer Links */
        float: left;
        color: #0099ff;
        text-decoration: none;
    }
}

/* End of General Resolution CSS */

/* End of Footer */