/* Import Rocket UI Components */

@import "header.min.css";
@import "footer.min.css";
@import "animations.min.css";
@import "buttons.min.css";
@import "lists.min.css";
@import "searchbar.min.css";

/* Required Fonts */

@font-face {
	font-family: 'Dosis';
	font-style: normal;
	font-weight: 400;
	src: local('Dosis Regular'), local('Dosis-Regular'), url(fonts/dosis.woff) format('woff');
}

/* Page Component */

main[data-rocket-component="page"]{
	position: static;
}

/* End of Page Component */