@import (reference) "../core.less"; // Import Core as a reference

// #region Basic Buttons and Toggle Buttons

div[data-syiro-component="button"]{ // Syiro Button Component
	float: left;

	// #region "Basic" Button Component

	&[data-syiro-component-type="basic"]{
		height: 40px;
		min-width: 115px;
		line-height: 40px;
		margin: 5px;
	}

	// #endregion

	// #region "Toggle" Button Component

	&[data-syiro-component-type="toggle"]{
		height: 24px; // Make it smaller than the typical button
		width: 60px; // Fixed width (2x height + 1/2 height)
		margin: 4px;
		border-radius: 12px; // Make sure the Toggle has a rounded edge

		& > div[data-syiro-minor-component="buttonToggle"]{ // Syiro "Toggle" Button - Actual Toggle
			height: 28px;
			width: 28px;
			background-color: @syiroBackground;
			border: 1px solid darken(@syiroBackground, 20%);
			margin-top: -3px;
		}

		// #region False Status

		&:not([active]){
			background-color: darken(@syiroBackground, 5%);
		}

		// #endregion

		// #region True Staus

		&[active]{ // Syiro "Toggle" Button - Status Set to True
			background-color: @syiroPrimaryColor;
		}

		// #endregion
	}

	// #endregion
}

// #endregion
