@import (reference) "../core.less"; // Import Core as a reference

// #region Basic Buttons and Toggle Buttons

div[data-syiro-component="button"]{

	// #region "Basic" Button Component

	&[data-syiro-component-type="basic"]{
		height: 40px;
		line-height: 40px;

		&:empty { // If the Button is icon-only
			min-width: 40px;
		}

		&:not(:empty){ // If the Button is not empty
			min-width: 115px;
		}
	}

	// #endregion

	// #region "Toggle" Button Component

	&[data-syiro-component-type="toggle"]{
		height: 22px; // Make it smaller than the typical button
		width: 50px; // Fixed width
		margin: 9px 4px 9px 0;
		border-radius: 12px; // Make sure the Toggle has a rounded edge

		& > div[data-syiro-minor-component="buttonToggle"]{ // Syiro "Toggle" Button - Actual Toggle
			height: 18px;
			width: 18px;
			background-color: @syiroBackground;
			margin-top: 1px;

			&:not([data-syiro-animation]){ // If there is no applied animation
				border: 1px solid darken(@syiroBackground, 20%);
				margin-left: 1px;
			}

			&[data-syiro-animation]{ // When the Toggle Button is active
				border: 1px solid @syiroPrimaryColor; // Set to same color as active Toggle Button background
			}

			.slide(29px, 125); // Enable slide animation so it slides to left position of 29px in 125ms
		}

		// #region False Status

		&:not([active]){
			background-color: darken(@syiroBackground, 5%);
		}

		// #endregion

		// #region True Staus

		&[active]{ // Syiro "Toggle" Button - Status Set to True
			background-color: @syiroPrimaryColor;
		}

		// #endregion
	}

	// #endregion
}

// #endregion
