@import (reference) "../core.less"; // Import Core as a reference

// This is the Material Design LESS of the Navbar Component

div[data-syiro-component="navbar"]{

    // #region Shared Between "Top" Navbar and "Bottom" Navbar

    height: 64px;
    color: contrast(@syiroPrimaryColor);
    line-height: 64px;
    background-color: @syiroPrimaryColor;

    // #endregion

	// #region Basic Button Modification

	& > div[data-syiro-component="button"][data-syiro-component-type="basic"]{
		margin-top: 12px; // Change margin on top to 12px
	}

	// #endregion

    // #region Scaling

		// #region For resolutions with a max of 1280 in width

		@media (max-width: 1280px){
			height: 56px; // Change the height of the Navbar
			line-height: 56px; // Change the line-height as well
		}

		// #endregion

    // #endregion
}
