@syiroTheme : "default"; // Define syiroTheme we are compiling - set to default

// #region Required Fonts

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: local('Source Sans Pro'), local('SourceSansPro-Regular'), local('SourceSansPro'), url(fonts/ssp.woff) format('woff');
}

@font-face {
	font-family: "Syiro";
	src: url(fonts/syiro.eot);
	src: url(fonts/syiro.eot?#iefix) format("embedded-opentype"),
		url(fonts/syiro.woff) format("woff"),
		url(fonts/syiro.ttf) format("truetype"),
		url(fonts/syiro.svg#Syiro) format("svg");
	font-weight: normal;
	font-style: normal;
}

// #endregion

@syiroBackground: #fafafa;
@syiroPrimaryColor: #0099ff;
@syiroSecondaryColor: #333333;
@syiroPlayerControlColor : @syiroSecondaryColor; // Variable for customizing the Syiro Audio & Video Player Controls. Default: @syiroSecondaryColor

// #region Internal CSS-to-TypeScript Styling Element

div[data-syiro-component="internalColorContainer"]{
	display: none;
	color: @syiroPrimaryColor;
	background-color: @syiroBackground;
	border-color: @syiroSecondaryColor;
}

// #endregion

// #region Multi-component font utilization

*[data-syiro-component], *[data-syiro-component] > input { // Have all components utilize a uniform font
	font-family: 'Source Sans Pro', 'Droid Sans', 'Segoe UI', Calibri, sans-serif !important;
	font-smoothing: antialiased; // Ensure font-smoothing
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

// #endregion

// #region Text Highlighting  Disabling

*[data-syiro-component]{
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

// #endregion

// #region Page Component

body {
	image-rendering: optimizequality !important; // Optimize for quality in all images in the page
	margin: 0;
	overflow-x: hidden;
}

div[data-syiro-component="page"]{
	position: static;
}

// #endregion
