@import (reference) "core.less"; // Import Core as a reference

// #region Icon Parametric Mixin - Allows easy including of a particular icon


.icon(@iconName, @iconSize : 16) when (e(@iconName) = dropdown){
    content: "\f100";
}

.icon(@iconName, @iconSize : 16) when (e(@iconName) = fullscreen){
    content: "\f101";
}

.icon(@iconName, @iconSize : 16) when (e(@iconName) = menu){
    content: "\f102";
}

.icon(@iconName, @iconSize : 16) when (e(@iconName) = pause){
    content: "\f103";
}

.icon(@iconName, @iconSize : 16) when (e(@iconName) = play){
    content: "\f104";
}

.icon(@iconName, @iconSize : 16) when (e(@iconName) = search){
    content: "\f105";
}

.icon(@iconName, @iconSize : 16) when (e(@iconName) = volume){
    content: "\f106";
}

.icon(@iconName, @iconSize : 16){ // Call .icon from within &:after
    display: inline-block;
    font-family: "Syiro";
    font-size: unit(@iconSize, px); // Set font-size to the provided iconSize or default 16
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-decoration: inherit;
    text-transform: none;
}

//#endregion

// #region Syiro Data Attribute Values

div[data-syiro-render-icon]:not([data-syiro-render-icon="false"]){ // If we are rendering an icon (has the render-icon attribute but not set to false)
	&:empty:after{ // If the element is empty
		width: 100%; // Set width to 100%
	}
	
	&[data-syiro-component="button"][data-syiro-component-type="dropdown"]{ // If this is a Dropdown Button
		&:after{
			float: right;
		}
		
		&:not(:empty):after{ // If it is NOT empty
			margin-right: 10px;
		}
	}
	
	&[data-syiro-render-icon="custom"]{ // If we are using a custom icon
        background-size: 32px; // Max size of 32px
        background-repeat: no-repeat; // Do not repeat
    }

	&[data-syiro-render-icon="dropdown"]{ // Dropdown Icon
		&:after {
			.icon("dropdown", 14); // Use the dropdown icon
		}
	}

	&[data-syiro-render-icon="fullscreen"]{ // Fullscreen Icon
		&:after {
			.icon("fullscreen", 14); // Use the fullscreen icon
		}
	}

	&[data-syiro-render-icon="menu"]{ // Menu Icon
		&:after {
			.icon("menu", 14); // Use the menu icon
		}
	}

	&[data-syiro-render-icon="play"]{ // Play Icon
		&:after {
			.icon("play", 14); // Use the play icon
		}
	}
	
	&[data-syiro-render-icon="search"]{ // Search Icon
		&:after {
			.icon("play", 14); // Use the search icon
		}
	}
	
	&[data-syiro-render-icon="volume"]{ // Volume Icon
		&:after {
			.icon("volume", 14); // Use the volume icon
		}
	}
}