@import (reference) "core.less"; // Import Core as a reference

div[data-syiro-component="list"]{ // Syiro List Component
	float: left;
	height: auto;
	min-height: 40px;
	width: auto;
	min-width: 200px; // 100% of the parent of the List component
	overflow: hidden; // Hide overflow

	& > div[data-syiro-component="list-item"]{ // Syiro List Item Component
		float: left;
		display: block;
		height: 40px;
		width: 100%;
		font-size: 15px !important;
		line-height: 40px;
		text-indent: 10px;
		overflow: hidden;

		& > img { // Syiro List Item - Image
			float: left;
			height: 40px;
			width: 40px;
			margin-right: 10px;
		}

		& > a{ // Syiro List Item - Links
			width: 100%; // Only allow the link to be in this particular List Item component (disallow secondary controls)
			color: @syiroPrimaryColor !important; // Force link color (primary color)
			font-weight: normal;
			text-decoration: none; // No text decoration
		}

		& > div[data-syiro-component="button"]{ // Secondary control within List Item component
			float: right !important; // Float the component to the right
		}
	}

	&[data-syiro-component-owner^="dropdown"]{ // If the owner of the List is a Dropdown
		max-width: 200px; // Set the max width to match the max width of the Dropdown
		background-color: @syiroGrey;
		border-top: 2px solid @syiroBorderColor;
		position: fixed; // Fixed position
		z-index: 10; // Ensure it floats above other content
		visibility: hidden; // Hide (not using display: block) so getBoundingClientRect properly calculates dimensions

		// Modifier for toggle buttons that do not have a TRUE status within list items in a Dropdown's List
		& > div[data-syiro-component="list-item"] > div[data-syiro-component="button"][data-syiro-component-type="toggle"]:not([data-syiro-component-status="toggle"]){
			border: 1px solid @syiroBorderColor; // Allow easy differentiation between list-item background and toggle button
		}
	}
}
