@import (reference) "core.less"; // Import Core as a reference

body {

    @listItemHeight : 40px;
    @listItemHalfHeight: unit((@listItemHeight / 2), px);
    @listItemPadding: unit((@listItemHeight / 4), px);

    .listItemProperties(){
    	.left;
        .dimensions(@listItemHeight, e("calc(100% - @{listItemHalfHeight})"));
    	line-height: @listItemHeight;
        padding: 0 @listItemPadding; // Padding on left and right
    	overflow: hidden;
    }

    div[data-syiro-component="list"]{
        .left;
        .dimensions(auto, auto);
        min-height: @listItemHeight;
        color: contrast(@syiroBackground);
        overflow: hidden;

        &[data-syiro-component-owner]{ // If this List is owned
            max-width: 200px; // Enforce a sane size
    		background-color: darken(@syiroBackground, 2.5); // Set background to slightly darkened form of @syiroBackground
    		border-top: 2px solid darken(@syiroBackground, 20%);
    		position: fixed; // Fixed position
    		z-index: 8; // Float above other content, but not above contentOverlay (9) or Toasts (10)
    		visibility: hidden; // Hide (not using display: block) so getBoundingClientRect properly calculates dimensions
    	}

        // #region List Header

    	& > div[data-syiro-minor-component="list-header"]{
    		.listItemProperties(); // Apply same properties as List Item

    		&:not([data-syiro-nonstrict-formatting]){ // If we are not including HTML
                color: lighten(contrast(@syiroBackground), 20%); // Have a lighter contrasting text color for the List Header
    			font-size: 16px;
    		}
    	}

    	// #endregion

        // #region List content

        & > div[data-syiro-minor-component="list-content"]{

            // #region Nested Lists

            & > div[data-syiro-component="list"]{
                width: 100%;

                // #region Nested List's Headers

                & > div[data-syiro-minor-component="list-header"]{
                    &:after{
                        .right;
                        .icon("dropdown");
                    }

                    &[active]:after{ // If active
    					.flip(); // Flip the Dropdown icon to point up
    				}
                }

                // #region

                & > div[data-syiro-minor-component="list-content"]:not([active]){ // Non-active List Content
                    display: none;
                }
            }

            // #endregion

            // #region List Item (Not Non-strict formatting)

            & div[data-syiro-component="list-item"]:not([data-syiro-nonstrict-formatting]){
    			.listItemProperties(); // Apply listItemProperties()

    			& > img, & > picture { // Image
                    height: inherit;
                    width: auto;
    				border-radius: 50%; // Ensure icon is circular
    			}

    			& > a { // Inner Links
    				width: 100%; // Only allow the link to be in this particular List Item component (disallow secondary controls)
    				color: @syiroPrimaryColor; // Force link color (primary color)
    				font-weight: normal;
    				text-decoration: none; // No text decoration
    			}
    		}

            // #endregion
        }
    }

    // #region Dir-Specific

    &:not([dir="rtl"]){ // LTR
        div[data-syiro-component="list"]{
            & > div[data-syiro-minor-component="list-content"]{
                & div[data-syiro-component="list-item"]:not([data-syiro-nonstrict-formatting]){ // Non-strict formatting List Item
                    & > a, & > img, & > picture { // Inner images and pictures links
                        .left;
                    }

                    & > div[data-syiro-component="button"]{ // Inner Buttons
        				.right; // Float the component to the right
        			}
                }
            }
        }
    }

    &[dir="rtl"]{ // RTL
        div[data-syiro-component="list"]{
            & > div[data-syiro-minor-component="list-content"]{
                & div[data-syiro-component="list-item"]:not([data-syiro-nonstrict-formatting]){ // Non-strict formatting List Item
                    & > a, & > img, & > picture { // Inner images and pictures links
                        .right;
                    }

                    & > div[data-syiro-component="button"]{ // Inner Buttons
        				.left; // Float the component to the right
        			}
                }
            }
        }
    }
}