@import (reference) "core.less"; // Import core as reference
@import (reference) "icons.less"; // Import Icons as a reference

body {
    div[data-syiro-component="media-player"] {
        // #region Shared Attributes

        float: left;
        font-size: 13px;
        background-color: black;
        background-repeat: no-repeat; // Do not repeat any Video Art
        background-size: 100%; // Ensure Video Art is full container

        & > audio, video { // Audio and Video Elements
            float: left;
            height: inherit; // Inherit from parent Video Player container
            width: inherit; // Inherit from parent Video Player container
            background-color: black; // Set background color of video to black in the event it doesn't have the proper aspect ratio, to make any letterboxing less jarring
            visibility: hidden; // Default to being hidden

            &:focus { // When the video is focused, typically on right-click, disable the border / outline
                border: 0;
                outline: 0;
            }
        }

        & > div[data-syiro-minor-component="player-menu"] div[data-syiro-component="list-item"] > img { // Inner List Items images
            margin: 4px 5px 0 0; // Ensure the img looks good in the Audio Player's Menu Dialog "Grid View"
        }

        // #endregion

        // #region Audio Player

        &[data-syiro-component-type="audio"]{
            min-height: 50px;
            max-height: 60px;
            background-position-y: 33%; // Offset by 1/3 (most album art main content takes up 2/3 to 1/2 of entire album art)

            & > div[data-syiro-component="media-control"]{ // Media Control
                background-color: fade(@syiroPlayerControlColor, 75%); // Set background-color to nearly transparent
            }

            & > div[data-syiro-component="media-control"]{ // Media Control
                &[data-syiro-component-streamstyling]{ // If we are applying "Stream Styling" to the Media Control
                    bottom: e("calc(-100% + 50px)");
                }

                &:not([data-syiro-component-streamstyling]){
                    bottom: e("calc(-100% + 60px)");
                }

                & > section { // Audio Information
        			float: left;
        			height: inherit;
        			width: 150px;
        			text-align: center;
        			margin-top: 5px;
                    margin-left: e("calc(50% - 42px - 75px)"); // Half width of audio player, minus 42px for calculated button width (play button) minus half width of section

                    & > b, label {
        				float: left;
        				width: 100%; // Fill up entire "row"
        				color: contrast(@syiroPlayerControlColor); // Make sure the text contrasts the player control color
                        font-weight: normal; // No font-weight
                    }

        			& > b:not(:only-child), & > label:not(only-child) {
        				line-height: 20px; // Half of section
        			}

        			& > b:only-child, & > label:only-child { // If only a title or artist is provided
        				height: 100%;
        				line-height: 40px;
        			}
                }
            }
        }

        // #endregion

        // #region Video Player

        &[data-syiro-component-type="video"]{

            &[data-syiro-show-video="true"]{ // Show Video
                & > video { // Inner Video
                    visibility: visible; // Make visible
                }
            }

            &:-webkit-full-screen{ // Webkit Fullscreen
                height: 100% !important;
                width: 100% !important;
        		position: absolute;
        		top: 0;
            }


            & > div[data-syiro-component="media-control"] { // Overrides for Video Player's Media Control
                background-color: fadeout(@syiroPlayerControlColor, 10%);
                z-index: 6; // Force above video poster

                &[data-syiro-component-streamstyling]{ // If we are applying "Stream Styling" to the Media Control
                    bottom: 50px;
                }

                &:not([data-syiro-component-streamstyling]){
                    bottom: 60px;
                }
            }

        }

        // #region Media Control

        & > div[data-syiro-component="media-control"]{ // Media Control
            float: left;
            width: inherit; // Scales to width of video player
            position: relative;
            z-index: 7; // Ensure it always sits above player menu

            &[data-syiro-component-streamstyling]{ // If we are applying "Stream Styling" to the Media Control
                height: 50px; // Set height to 50px
                max-height: 50px; // Enforce the height of 50px

                & > input { // Input Slider
                    display: none; // Default to not showing
                }
            }

            &:not([data-syiro-component-streamstyling]){
                height: 60px; // Set height to 50px
                max-height: 60px; // Enforce the height of 60px

                & > time { // Time Label tweaks for NON-Streaming Styling
                    height: 50px;
                    width: auto;
                    line-height: 50px;
                    margin: 0 10px 0 10px;
                }
            }

            // #region Buttons

            & > div[data-syiro-component="button"][data-syiro-component-type="basic"]{ // Custom LESS for Basic Button Components inside Media Control
                height: 32px;
                width: 32px;
                color: contrast(@syiroPlayerControlColor); // Ensure the color contrasts the syiroPlayerControlColor
                line-height: 32px; // Ensure the icon is centered vertically
                text-align: center; // Ensure the icon is centered horizontally
                background-color: transparent;
                border-radius: 0;
                margin: 9px 5px 9px 5px; // Center on Media Control

                &:not(:first-of-type){ // If the button is not the first one
                    float: right; // Float to the right of the Media Control
                }

                &[active]:not([data-syiro-render-icon="play"]):after{ // If the button is active and it is not the play button
                    color: @syiroPlayerControlColor; // Set the text color to the syiroPlayerControlColor
                    background-color: contrast(@syiroPlayerControlColor); // Set the background to the contrast of the syiroPlayerControlColor
                }

                &[data-syiro-render-icon="play"]{ // Play Button
                    &[active]{ // If the Play Button is set to "active", meaning we are treating it as a "pause" button indicator
                        &:after {
                            .icon("pause", 14); // Use the pause icon
                        }
                    }
                }
            }

            // #endregion

            // #region Range "Track"

            & > input {
                .thumbProperties(){
                    -moz-appearance: none; // No Firefox appearance
        			-webkit-appearance: none; // No WebKit appearance
                    background-color: transparent;
                    background: transparent;
                    border: 0;
                    border-radius: 0;
                    visbility: hidden;
                }

                .trackProperties(){
                    -moz-appearance: none !important; // No Firefox styling
                    -webkit-appearance: none !important; // No WebKit styling
                    float: left;
                    height: 10px !important;
                    width: 100% !important; // Have it fill the entire media-control top
                    background-color: transparent;
                    border: 0; // No border
                    outline: 0;
                    margin: 0 !important;
                    padding: 0 !important;
                }

                &::-ms-range-thumb { // IE Range Thumb
                    .thumbProperties;
                }

                &::-moz-range-thumb { // Gecko Range Thumb
                    .thumbProperties;
                }
                &::-webkit-slider-thumb { // Webkit Slider Thumb
                    .thumbProperties;
                }

                &::-moz-range-track { // Gecko Input Track
                    .trackProperties;
                }

                &::-ms-track { // IE Input Track
                    .trackProperties;
                }

                .trackProperties; // Normal
            }

            // #endregion

            // #region Label Time Information

            & > time {
                float: left;
                color: contrast(@syiroPlayerControlColor); // Set the color to the contrasting color of the syiroPlayerControlColor

                &[data-syiro-component-live]{ // Live "View"
                    height: 12px;
                    width: 12px;
                    text-indent: 18px;
                    line-height: 12px;
                    background-color: @syiroRed;
                    border-radius: 16px;
                    margin: 19px 10px 0 10px;
                }
            }

            // #endregion
        }

        // #endregion

        // #region Player Error Dialog (Codec)

        div[data-syiro-minor-component="player-error"]{
            float: left;
            display: none;
            height: e("calc(85% - 60px)"); // 85% of the height of the Media Player, minus 60 for media control
            color: contrast(@syiroPlayerControlColor); // Set the color to the contrasting color of the syiroPlayerControlColor
            text-align: center;
            line-height: 20px;
            background-color: @syiroPlayerControlColor;
            padding: 5% 5% 0 5%; // 5% on top, left and right
        }

        // #endregion

        // #region Player Menu Dialog

        div[data-syiro-minor-component="player-menu"]{
            float: left;
            height: inherit; // Inherit from parent
            width: inherit; // Inherit from parent
            color: contrast(@syiroPlayerControlColor); // Set the color to the contrasting color of the background color
            background-color: fade(@syiroPlayerControlColor, 80%); // Set the background color to the syiroBackgroundColor, faded (transparency) to 80%
            position: absolute;
            z-index: 6; // Force above the video and video poster
            visibility: hidden; // Default to not being visible

            & > label { // Menu Dialog Label
                float: left;
                height: 50px;
                width: 100%;
                font-size: 16px;
                text-indent: 10px;
                line-height: 50px;
            }

            & > div[data-syiro-component="list"]{ // Menu Dialog List
                float: left;
                height: auto;
                width: 90%;
        		color: contrast(@syiroPlayerControlColor); // Contrast the Syiro Player background color

        		& div[data-syiro-component="list-item"] {
                    & > img { // Inner Image
                        height: 32px;
                        width: 32px;
                    }

                    line-height: 32px;
        			margin: 0 0 5px 10px; // Set margin to be 10px on the left and 5px on bottom
        		}
            }
        }

        // #endregion
    }
}