@import (reference) "core.less"; // Import Core as a reference

body {
    @navbarHeight: 60px;
    @navbarHalfHeight: unit((@navbarHeight / 2), px);
    @navbarPadding: unit((@navbarHeight / 4), px);
    
    div[data-syiro-component="navbar"]{
        .left;
        .dimensions(@navbarHeight, e("calc(100% - @{navbarHalfHeight})"));
        color: contrast(darken(@syiroBackground, 2.5%));
        font-size: 14px;
        line-height: @navbarHeight;
        background-color: darken(@syiroBackground, 2.5%);
        padding: 0 @navbarPadding; // Padding on left & right

        &[data-syiro-position="fixed"]{ // Fixed Positioning
            left: 0;
            right: 0;
            position: fixed;
            z-index: 7;
        }

        & > a { // Links
            .dimensions(inherit, auto); // Inherit height from parent Navbar, auto width
            color: inherit; // Inherit from parent
            line-height: inherit; // Inherit from parent navbar
            text-align: center; // Center the text
            text-decoration: none; // No decoration
            padding: 0 15px; // Padding on each side of link
        }

        &[data-syiro-component-type="top"]{ // Top Navbar Component
            border-bottom: 2px lighten(@syiroSecondaryColor, 20%);

            &[data-syiro-position="fixed"]{ // Fixed positioning
                top : 0;
            }

            & > img[data-syiro-minor-component="logo"]{ // Logo component within header
                height: e("calc(100% - 20px)"); // Set height to 100% of navbar - 20px
                width: auto;
                margin: 10px 10px;
                border: 0;
            }

            & > div[data-syiro-component="button"] { // Button modifications
                &[data-syiro-component-type="basic"]{ // Basic buttons
        			margin-top: 10px; // Change margin on top to 10px
        		}

                &[data-syiro-component-type="dropdown"]{ // Header Dropdown Modifications
                    height: inherit; // Full-height of header
                    line-height: inherit;
                    margin-top: 0; /* Force the list to be vertically aligned */
                }
            }

            & > div[data-syiro-component="searchbox"]{ // Searchbox Modifications
                margin: 10px 0 0 0; // Center in header
            }
        }

        &[data-syiro-component-type="bottom"]{ // Bottom Navbar
            border-top: 2px lighten(@syiroSecondaryColor, 20%);

        	& > label { // Footer Text
        		.left;
        		margin-left: 20px;
        	}

            &[data-syiro-position="fixed"]{ // Fixed positioning
                bottom : 0;
            }
        }
    }
    
    // #region Dir-Specific
    
    &:not([dir="rtl"]){ // LTR
        div[data-syiro-component="navbar"]{
            .left;
            
            &[data-syiro-component-type="top"]{
                & > img[data-syiro-minor-component="logo"]{ // Logo component within header
                    .left;
                }
                
                & > div[data-syiro-component="searchbox"]{ // Searchbox Modifications
                    .right; // Force the component to float to the right
                }
            }
        }
    }

    &[dir="ltr"]{ // LTR
        div[data-syiro-component="navbar"]{
            .right;
            
            & > a { // Links
                .right; // Enforce right float to maintain the DOM order (1, 2, 3 -> 3, 2, 1)
            }

            &[data-syiro-component-type="top"]{
                & > img[data-syiro-minor-component="logo"]{ // Logo component within header
                    .right;
                }
                
                & > div[data-syiro-component="searchbox"]{ // Searchbox Modifications
                    .left; // Force the component to float to the right
                }
            }
        }    
    }
}