@import (reference) "core.less"; // Import Core as a reference
@import (reference) "icons.less"; // Import Icons as a reference

div[data-syiro-component="searchbox"]{ // Syiro Searchbox Component
	float: left;
	height: 38px;
	width: 198px;
	color: fadeout(contrast(@syiroBackground), 10%); // Contrast the background but slightly fade the text
	background-color: @syiroBackground;
	border: 1px solid darken(@syiroBackground, 20%); // Thin (1px) outline of the darkened form of the @syiroBackground

	& > input{ // Syiro Searchbox (Input Element) Component
		float: left;
		height: 38px;
		width: 100%;
		line-height: 38px;
		text-indent: 10px;
		background-color: transparent;
		border: 0; // No border
		padding: 0; // No padding
		outline: 0;

		&:focus{  // When the Searchbox is in focus
			outline-offset: 0; // Disable any offsetting of the outline
		}
	}

	&:after {
		float: right;
		.icon("search"); // Use the search icon at 16px
		margin: -58px 5% 0 0;
		position: relative;
		z-index: 2;
	}
}
