@import (reference) "core.less"; // Import Core as a reference

input[data-rocket-component="searchbox"]{ // Rocket Searchbox (Input Element) Component
	float: left;
	height: 40px;
	width: 200px;
	color: @rocketSecondaryColor;
	line-height: 40px;
	text-indent: 10px;

	background-color: @rocketLightWhite;
	.icon("search", 16); // Use the search icon
	background-position: 95% center; // Place in the center right

	border: 1px solid @rocketDarkWhite;
	outline: 0; // Disable outlining (particularly when focusing on the input)
}