@import (reference) "core.less"; // Import Core as a reference

input[data-syiro-component="searchbox"]{ // Syiro Searchbox (Input Element) Component
	float: left;
	height: 40px;
	width: 200px;
	color: @syiroSecondaryColor;
	line-height: 40px;
	text-indent: 10px;

	.icon("search", 16); // Use the search icon
	background-position: 95% center; // Place in the center right

	border: 1px solid @syiroBorderColor;
	outline: 0; // Disable outlining (particularly when focusing on the input)
}
