@import (reference) "../core.less"; // Import Core as a reference

// #region Animation Parametric Mixin - Allows easy adding of animations

.animate(@properties; @duration : 250; @timingFunc : "ease-in"){
	transform: e(@properties); // String escape the provided properties that'll change in transform
	-webkit-transform: e(@properties); // Same as above, just specific to Webkit
	transition-duration: unit(@duration, ms); // Duration of nMS, where n defaults to 250
	transition-timing-function: e(@timingFunc); // String escape the provided timing function, which defaults to "easy-in"
}

// #endregion

// #region Fading

.fade-in-animation{
	.animate("opacity, visibility"); // Transform opacity and visibility values
	opacity: 1;
	visibility: visible;
}

.fade-out-animation{
	.animate("opacity, visibility"); // Transform opacity and visibility values
	opacity: 0;
	visibility: hidden;
}

// #endregion

// #endregion Pulse

*[class="pulse"]{
	box-shadow: 0 0 0 0 @syiroPrimaryColor; // No box-shadow
	transition: box-shadow 500ms; // Set transition value of box-shadow

	&:hover{
		box-shadow: 0 0 10px 2px @syiroPrimaryColor; // Box shadow
	}
}

// #endregion
