@import (reference) "../core.less"; // Import Core as a reference

// This is the core LESS of the List and List Item Components.

div[data-syiro-component="list"]{
	float: left;
	height: auto;
	width: auto;
	
	// #region Syiro List Item Component (Only applies if the List Item does not have the attribute nonstrict-formatting)
	
	& > div[data-syiro-component="list-item"]:not([data-syiro-nonstrict-formatting]){
		float: left;
		display: block;
		width: 100%;
		color: contrast(@syiroBackground); // Set the text color to contrast the background color of the List
		font-size: 14px;
		overflow: hidden;
		
		// #region Image
		
		& > img {
			float: left;
			border-radius: 50%; // Ensure icon is circular
		}
		
		// #endregion
		
		// #region Link
		
		& > a{
			float: left;
			width: 100%; // Only allow the link to be in this particular List Item component (disallow secondary controls)
			color: @syiroPrimaryColor; // Force link color (primary color)
			font-weight: normal;
			text-decoration: none; // No text decoration
		}
		
		// #endregion
		
		// #region Button
		
		& > div[data-syiro-component="button"]{
			float: right; // Float the component to the right
		}
		
		// #endregion
	
	}
	
	// #endregion
	
	&[data-syiro-component-owner]{ // If this List is owned
		background-color: darken(@syiroBackground, 2.5); // Set background to slightly darkened form of @syiroBackground
		border-top: 2px solid darken(@syiroBackground, 20%);
		position: fixed; // Fixed position
		z-index: 8; // Float above other content, but not above contentOverlay (9) or Toasts (10)
		visibility: hidden; // Hide (not using display: block) so getBoundingClientRect properly calculates dimensions
	}
}
